$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

// A la mierda con el mundo todo va a ser centrado

body {
    text-align: center;
    background: 
        url('../images/elements/encabezado.png') no-repeat top center, 
        url('../images/elements/footer.png') no-repeat bottom center,
        $white;
}

// custom container yh

.container-narrow {
    margin: 0 auto;
    max-width: 768px;
}

.container-narrow > hr {
    margin: 30px 0;
}

.content > hr {
    margin: 30px 0;
}

// responsive header

.mastheader {
    padding: 20px;
}

.branding {
    padding: 10px;
    border-radius: 10px;
    // background-color: rgba(255,255,255,0.3);
}

@media(max-width: 768px) {
    header {
        margin-right: -20px;
        margin-left: -20px;
    }
}

@media(min-width: 768px) {
    .mastheader {
        padding-top: 50px;
    }
    .branding {
        margin: 0 auto;
        max-width: 600px;
    }
}

// Centered dates

#dates {
    text-align: center;
}

#dates date {
    text-align: center;
}

// Description

#description p.nofirst {
    display: none;
}

// Footer

footer {
    min-height: 200px;
    padding-bottom: 100px;
}

// Guests

.frame-guest {
    // display: inline-block;
    height: 128px;
    background-color: $blueDark;
    color: $activeWhite;
    background-size: 100%;
    padding: 10px;
}

#guests .row-fluid [class*="span"] {
    padding: 0;
    margin: 0;
}


#guest-description {
    padding: 20px auto;
}

@media(min-width: 768px) {
    #guests .row-fluid .span4 {
        width: 33.3333%;
    }
}


@media(max-width: 767px){
    #guests .row-fluid [class*="span"] {
        min-height: 0px;
    }
    .first-guest-row {
        min-height: 250px;
    }
}

// Allies

@media(min-width: 480px)
{
    .ally, .ally-body {
        overflow: hidden;
    }
}

.ally img {
    max-width: 160px;
    margin: 0 10px;
}

#festivaldemanizales {
    text-align: left;
}

#entrevinetas {
    text-align: right;
}

// Sponsors

.sponsor,
.organizer {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
}

.sponsor img,
.organizer img {
    height: 48px;
}
