$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';
@import 'sass-bootstrap/lib/responsive';

@font-face {
    font-family: olivier;
    src: url("fonts/olivier_demo.ttf");
}

h1, h2, h3, h4 {
    font-family: olivier;
    color: #512716;
}

h1::first-letter, h2::first-letter, h3::first-letter, h4::first-letter {
    font-size: 200%;
    vertical-align: middle;
    color: $red;
}

h2 {
    margin: 30px auto;
}

// Social icons

@media(min-width: 943px) {
    aside.social {
        display: block;
        position: fixed;
        top: 50%;
        left: 20px;
    }
    
    aside.social a {
        display: block;
        margin: 10px 0;
    }

    aside.social a img {
        width: 40px;
    }
}

@media(max-width: 942px){
    aside.social {
        text-align: right;
    }

    aside.social a img {
        width: 30px;
    }
    
    aside.social a {
        margin: 0 5px;
    }
}


// A la mierda con el mundo todo va a ser centrado

body {
    text-align: center;
    background: 
        url('../images/elements/encabezado.png') no-repeat top center, 
        url('../images/elements/footer.png') no-repeat bottom center,
        $white;
}

// custom container yh

.container-narrow {
    margin: 0 auto;
    max-width: 768px;
}

hr {
    margin: 30px 0;
}


// responsive header

header {
    max-width: 768px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0px 7px 5px -5px $black;
}

.branding {
    padding: 10px;
    border-radius: 10px;
    // background-color: rgba(255,255,255,0.3);
}

@media(max-width: 480px) {
    header {
        margin-right: -20px;
        margin-left: -20px;
    }
}

@media(min-width: 768px) {
    header {
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .branding {
        margin: 0 auto;
        max-width: 600px;
    }
}

// Description

#description p.nofirst {
    display: none;
}

// Guests

.frame-guest {
    // display: inline-block;
    height: 128px;
    background-color: $blueDark;
    color: $activeWhite;
    background-size: 100%;
    padding: 10px;
    animation-duration: 1s;
}

.frame-guest.active {
    box-shadow: 5px 5px 5px $grayDarker;
    transform: translate(-5px, -5px);
}

#guests .row-fluid [class*="span"] {
    padding: 0;
    margin: 0;
}


#guest-description {
    padding: 20px auto;
}

@media(min-width: 768px) {
    #guests .row-fluid .span4 {
        width: 33.3333%;
    }
}


.info .social-link {
    margin: 1em 0.5em 0 0;
}

.info .social-icon {
    height: 1.5em;
    width: auto;
}

@media(max-width: 767px){
    #guests .row-fluid [class*="span"] {
        min-height: 0px;
    }
    .first-guest-row {
        min-height: 250px;
    }
}

// Allies

@media(min-width: 480px)
{
    .ally, .ally-body {
        overflow: hidden;
    }
}

.ally img {
    max-width: 160px;
    margin: 0 10px;
}

#festivaldemanizales {
    text-align: left;
}

#entrevinetas {
    text-align: right;
}

// Sponsors

.sponsor,
.organizer {
    display: inline-block;
    margin: 5px 10px;
    padding: 5px;
}

.sponsor img,
.organizer img {
    height: 48px;
}

// Footer

footer {
    min-height: 200px;
    max-width: 768px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 70px;
    padding-top: 20px; 
    margin-top: 100px;
    box-shadow: 0px -7px 5px -5px $black;
}

@media(max-width: 480px) {
    footer {
        margin-right: -20px;
        margin-left: -20px;
    }
}

// About

.about section:nth-child(odd) {
    text-align: left;
}

.about section:nth-child(even) {
    text-align: right;
}

// Activities

.row-fluid .sbs:nth-child(odd) {
    text-align: left;
    padding-right: 10px;
}

.row-fluid .sbs:nth-child(even) {
    text-align: right;
    padding-left: 10px;
}

.in-charge {
    margin-top: 20px;
}

.in-charge ul {
    list-style: none;
}
