<div id="schedule-accordion" class="accordion">
    <% _.each(schedule.schedule, function(activities, day) { %>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#schedule-accordion" href="#day-<%= day %>">
                <%= schedule.filters.dates[day] %>
            </a>
        </div>
        <div id="day-<%= day %>" class="accordion-body collapse">
            <div class="accordion-inner">
                <% _.each(activities, function(activitie) { %>
                <article class="activitie place-<%= activitie.place %> <% _.each(activitie.type, function(type) { %> type-<%= type %> <% }) %> <% _.each(activitie.public, function(public) { %> public-<%= public %> <% }) %>">

                    <strong><%= activitie.time %>: <%= activitie.name %></strong>
                    <p>
                        Lugar: <%= schedule.filters.places[activitie.place] %> <br>
                        Encargado: <%= activitie.in_charge %>
                    </p>
                </article>
                <% }) %>
            </div>
        </div>
    </div>
    <% }) %>
</div>
<div id="schedule-filters">
    <div class="row-fluid">
        <div class="span4">
            <h4>Lugares</h4>
            <form class="form-horizontal">
                <div class="control-group">
                    <% for(var place in schedule.filters.places) { %>
                    <label class="check-box">
                        <input class="filter-checkbox place-checkbox" id="place-<%= place %>" type="checkbox" data-toggle="place-<%= place %>">
                        <%= schedule.filters.places[place] %>
                    </label>
                    <% } %>
                </div>
            </form>
        </div>
        <div class="span4">
            <h4>Típo de actividad</h4>
            <form action="" class="form-horizontal">
                <div class="control-group">
                    <% for(var type in schedule.filters.types) { %>
                    <label class="check-box">
                        <input class="filter-checkbox type-checkbox" id="type-<%= type %>" type="checkbox" data-toggle="type-<%= type %>">
                        <%= schedule.filters.types[type] %>
                    </label>
                    <% } %>
                </div>
            </form>
        </div>
        <div class="span4">
            <h4>Público</h4>
            <form action="" class="form-horizontal">
                <div class="control-group">
                    <% for(var public in schedule.filters.publics) { %>
                    <label class="check-box">
                        <input class="filter-checkbox public-checkbox" id="public-<%= public %>" type="checkbox" data-toggle="public-<%= public %>">
                        <%= schedule.filters.publics[public] %>
                    </label>
                    <% } %>
                </div>
            </form>
        </div>
    </div>
</div>
